<div class="nav-container">
  <button routerLink="/" class="nav-button home-button">🏠 Accueil</button>
  <button routerLink="/contrats" class="nav-button contracts-button">📄 Gérer les Contrats</button>
</div>

<!-- Afficher "Gestion des Matériels" seulement si on est sur la page d'accueil -->
<div *ngIf="!isOnContratsPage">
 <!-- <h1>Gestion des Matériels</h1>-->

  <form [formGroup]="materielForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nom">Nom du Matériel</label>
      <input id="nom" formControlName="nom" type="text" placeholder="Nom du matériel" />
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input id="description" formControlName="description" type="text" placeholder="Description" />
    </div>

    <div class="form-group">
      <label for="serviceDat">Date de Mise en Service</label>
      <input id="serviceDat" formControlName="serviceDat" type="date" />
    </div>

    <div class="form-group">
      <label for="endGarantee">Date de Fin de Garantie</label>
      <input id="endGarantee" formControlName="endGarantee" type="date" />
    </div>

    <div class="button-group">
      <button type="submit" [disabled]="materielForm.invalid" class="disabled-button" *ngIf="!isEditing">Créer</button>
      <button type="submit" [disabled]="materielForm.invalid || !isFormChanged" class="disabled-button" *ngIf="isEditing">Mettre à jour</button>
      <button type="button" (click)="resetForm()">Annuler</button>
    </div>
  </form>
</div>

<!-- Emplacement où le composant des contrats s'affichera -->
<router-outlet></router-outlet>
