@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-group {
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  background-color: #d3d3d3;
  /* Gris clair */
  font-weight: 500;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

.btn-success {
  background: #28a745;
}

.btn-info {
  background: #007bff;
}

.btn-warning {
  background: #ffc107;
}

.btn-danger {
  background: #dc3545;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  /* Ajoute une bordure aux colonnes */
}

th {
  background: #ddd;
  color: black;
  font-weight: 500;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
  height: auto;
}

tr:hover {
  background: #f1f1f1;
}
